# File extensions to assume are C++ headers.
HeaderExtensions: ".hpp|.h|.H|.hh"

# File extensions to assume are C++ code files.
CodeExtensions: ".cpp|.C|.cc"

# Which type of protections against multiple includes should we expect in headers?
# List all that are okay.  So if you want either type of protection, use "Pragma|Guards"
HeaderProtections: "None|Pragma|Guards|Both"

# Should we count spelling mistakes as errors in a file?
SpellCheck: On

# Should we track a master list of legal words in the project? (in .Empirical/word_list.txt)
ProjectDictionary: On

# Should we track a local list of legal words in each file (in a labeled comment at the bottom)
FileDictionary: On

# Should we track word replacements to use as future suggestions? (in .Empirical/replace_list.txt)
TrackReplacements: On

# Should we go into interactive mode by default? (Use -i flag to activate from command line)
Interactive: Off

# Should tabs ('\t') and carriage returns ('\r') be removed?
RemoveIllegalChars: On

# Should we create a levelization map for how all of the header files include each other?
MapLevels: On
