[submodule "third-party/Catch"]
	path = third-party/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "third-party/force-cover"]
	path = third-party/force-cover
	url = https://github.com/emilydolson/force-cover.git
[submodule "third-party/cereal"]
	path = third-party/cereal
	url = https://github.com/mmore500/cereal.git
