[submodule "third-party/Catch"]
  path = third-party/Catch
  url = https://github.com/catchorg/Catch2.git
  shallow = true
[submodule "third-party/force-cover"]
  path = third-party/force-cover
  url = https://github.com/emilydolson/force-cover.git
  shallow = true
[submodule "third-party/cereal"]
  path = third-party/cereal
  url = https://github.com/mmore500/cereal.git
  shallow = true
[submodule "third-party/span-lite"]
  path = third-party/span-lite
  url = https://github.com/martinmoene/span-lite.git
  shallow = true
[submodule "third-party/robin-hood-hashing"]
  path = third-party/robin-hood-hashing
  url = https://github.com/martinus/robin-hood-hashing.git
  shallow = true
