*~
*.debug
*.dSYM
*.gcov
*.js.mem
*.map
*.mp4
*.o
*.out
*.pyc
*.swp
*.swo
*.wasm
*.wast
*-bak.cc
*tmp.*
	
*/env/*
*/3nv/*

.DS_Store
a.out
a.out.js
fitness.csv
population.csv
systematics.csv

incoming/
tmp/

.vscode/

apps/Avida/Avida
apps/Avida/web/Avida.js
apps/Emphatic/Emphatic
apps/Emphatic/examples/ConceptTest
apps/Emphatic/examples/ConceptTest.cc
apps/MABE/examples/NK
apps/NK.bak/
apps/NK/NK
apps/NK/web/NK.js
apps/OEE-Breaker/OEE-Breaker
apps/OpenWorld/OpenWorld
apps/SpatialCoop2017/SimplePDWorld
apps/SpatialCoop2017/web/SimplePDWorld.js
apps/StateGrid/StateGrid
apps/Sudoku/Sudoku.js
apps/utils/graphs/web/MSS.js
apps/NK/helloworld.cpp
apps/NK/helloworld.js
apps/NK/helloworld.js.mem
apps/NK/LICENSE
apps/NK/Makefile
apps/NK/source
apps/NK/source/native
apps/NK/source/NKWorld.h
apps/NK/source/web
apps/NK/web/jquery-1.11.2.min.js
apps/NK/web/NK.asm.js
apps/NK/web/NK.html
apps/NK/web/NK.js.mem

doc/doxygen/
examples/*/*
!examples/*/*.cc
!examples/*/*.h
!examples/*/*.html
!examples/*/images
!examples/*/Makefile
examples/timing/short_strings.html

tests/*.csv
tests/StatsConfig.cfg
tests/web/*.js
tests/web/package.json
tests/web/node_modules/
tests/test_file.dat

third-party/doxygen/
build/
doc/_build/

