*~
a.out
a.out.js
*.map
*.o
*.gcov
*.js.mem
*.pyc
*.swp
*.swo
*.dSYM
*tmp.*
*.out
*.debug
*.mp4
*.csv
coverage.xml
diff_cover.txt
UTests/tools/tmp*.cc
UTests/web/JSWrap.js
UTests/OLD/UI/ElementSlate.js
UTests/OLD/UI/Example.js
UTests/UI/Animate.js
UTests/UI/ElementSlate.js
UTests/UI/Example.js
UTests/UI/mini_evoke.js
UTests/web/TextArea.js
tests/html
tests/*.gcda
tests/*.gcno
tests/*cov.info
tests/web/*.js
tests/Coverage*
tests/diff_cover.txt
third-party/doxygen/build/*
third-party/node_modules
Slideshow.js
incoming/
*/env/*
*/3nv/*
tmp/
build/doxydoc/*
third-party/doxygen
third-party/breathe
third-party/catch
doc/_build/*
scripts/diff
utils/edit_dist/IO/
utils/edit_dist/edit_dist
utils/edit_dist/tmp.py
utils/graphs/downloads/
utils/graphs/for_web/
utils/graphs/history/
utils/graphs/make_graph
utils/graphs/upload/
.ycm_extra_conf.py
OLD/CMakeLists.txt
OLD/config.h.bak
examples/evo/NK
geometry/bak/
web/bak/
examples/evo/runs/
examples/evo/out
examples/evo/replica
examples/evo/grid.csv
examples/evo/mixed.csv*
examples/evo/.ipynb_checkpoints
tests/temp/
