### WORLD_STRUCTURE ###
# How should each organism's genome be setup?

set CHANGE_RATE 0      # How many changes to fitness tables each generation?
set POP_SIZE 400       # How many organisms should be in the population?
set MAX_GENS 10000     # How many generations should the runs go for?
set SEED 0             # Random number seed (0 for based on time)
set ELITE_COUNT 0      # How many organisms should be selected via elite selection?
set TOURNAMENT_SIZE 4  # How many organisms should be chosen for each tournament?

### GENOME_STRUCTURE ###
# How should each organism's genome be setup?

set NUM_BITS 64   # Starting number of bits in each organism
set NUM_GENES 64  # Number of genes in each organism
set GENE_SIZE 8   # Size of each gene in each organism

### MUTATIONS ###
# Various mutation rates for Aagos

set GENE_MOVE_PROB 0.001000  # Probability of each gene moving each generation
set BIT_FLIP_PROB 0.010000   # Probability of each bit toggling
set BIT_INS_PROB 0.010000    # Probability of a single bit being inserted.
set BIT_DEL_PROB 0.010000    # Probability of a single bit being removed.

### OUTPUT ###
# Output rates for Aagos

set PRINT_INTERVAL 100  # How many updates between prints?

