# generated with py3.6 pip freeze
alabaster==0.7.13
attrs==21.4.0
Babel==2.11.0
beautifulsoup4==4.12.2
breathe==4.35.0
certifi==2023.5.7
charset-normalizer==2.0.12
coverxygen==1.7.0
docutils==0.17.1
exhale==0.3.1
idna==3.4
imagesize==1.4.1
importlib-metadata==4.8.3
Jinja2==3.0.3
lxml==4.9.2
markdown-it-py==2.0.1
MarkupSafe==2.0.1
mdit-py-plugins==0.3.0
mdurl==0.1.0
myst-parser==0.16.1
packaging==21.3
Pygments==2.14.0
pyparsing==3.0.7
pytz==2023.3
PyYAML==6.0
requests==2.27.1
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==4.5.0
sphinx-rtd-theme==1.2.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
typing-extensions==4.1.1
urllib3==1.26.16
zipp==3.6.0
